@model AKQA.Web.Models.UserData

@{
    ViewBag.Title = "AKQA Test";
}
<style>
    .helper {
        font-family: Comic Sans MS;
        color: Orange;
        font-style: italic;
    }

</style>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
} 

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <fieldset>
        <legend>AKQA Test</legend>
        <div class="editor-label">
            @Html.LabelFor(m => m.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Amount)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Amount)
            @Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger" })
        </div>
        <div>
            <br />
        </div>
        <div class="ui-button">
            <input type="submit" value="Post Data" />
        </div>
        <div class="editor-label">
            <span style="font-weight:bold;">
                @Html.DisplayFor(m => m.Name, new { @readonly = "readonly" })
            </span>
        </div>
        <div class="editor-label">
            <span style="font-weight:bold;">
                @Html.DisplayFor(m => m.AmountInWords, new { @readonly = "readonly" })
            </span>
        </div>
    </fieldset>

    
}